config/**/*local*
config/nvim/plugged
config/fish/fish_history
config/fish/fish_variables
config/fish/fish_read_history
config/fish/fishd.*
config/tmux/plugins/
config/nvim/autoload/plug.vim.old
other/alfred/Alfred.alfredpreferences/snippets/Personal
